<h1>Deploy Your Application</h1>
<p>To deploy your application, you'll need to use <a href="http://capify.org/">Capistrano</a>.  If you don't already have it installed on your development machine, enter this command at the shell/command prompt:</p>
<pre>gem install capistrano</pre>
<p>Once Capistrano is installed, you'll want to apply it to your Rails application.  From the root of your application:</p>
<pre>capify .</pre>
<p>Then, replace the default <strong>deploy.rb</strong> that is created with the following:</p>
<pre>
set :application, `pwd`.strip.include?("/") ? `pwd`.strip.split("/").last : `pwd`.strip.split("\\").last
set :repository, "."
set :scm, :none
set :deploy_via, :copy
set :deploy_port, 10000

set :user, "student"
set :runner, "student"
set :password, "jeffcohen"

<% hostname = defined?(INSTANCE_HOSTNAME) ? INSTANCE_HOSTNAME : "error - cannot find ec2 instance" %>
role :web, '<%= hostname %>'
role :app, '<%= hostname %>'
role :db, '<%= hostname %>', :primary => true

desc "Tasks to execute after code update"
task :after_setup, :roles => [:app, :db] do
  sudo "chown #{user}:#{user} -R #{deploy_to}"
  run "thin config -C #{deploy_to}/thin.yml --servers 1 --port 10000 --chdir #{current_path} --environment production"
end

namespace :deploy do
  %w(start stop restart).each do |action| 
     desc "#{action} the Thin processes"  
     task action.to_sym do
       find_and_execute_task("thin:#{action}")
    end
  end 
end

namespace :thin do  
  %w(start stop restart).each do |action| 
  desc "#{action} the app's Thin Cluster"  
    task action.to_sym, :roles => :app do  
      run "thin #{action} -c #{current_path} -C #{deploy_to}/thin.yml" 
    end
  end
end

</pre>
    <p>Finally, deploy your application for the first time. Under your rails root directory:</p>
    <pre>cap deploy:setup
cap deploy</pre>
